<partial src="_title-collapse.html" img="./assets/images/keyboard-regular.svg" name="Rellena"></partial>

<form class="complete__form" action="#" method="post" id="myForm">
  <label class="complete__form__label required" for="name">Nombre completo</label>
  <input class="js-form-input-name complete__form__input" type="text" name="name" placeholder="Ej: Doña Rogelia" required value="" />
  <label class="complete__form__label" for="puesto">Puesto</label>
  <input class="js-form-input-job complete__form__input" type="text" name="job" placeholder="Ej: La muñeca que todos quieren" />
  <label class="complete__form__label" for="image">Imagen de perfil</label>
  <div class="complete__form__image-fields">
    <label for="photo" class="complete__form__image-fields__image-button-label">Añadir imagen</label>
    <input class="js-input-invisible complete__form__image-fields__image-button-invisible" type="file" name="photo" value="Añadir imagen" accept="image/png, image/jpg" onchange="previewFile()" />
    <div class="js-divPicture complete__form__image-fields__mini-image-div"><img class="js-img complete__form__image-fields__mini-image-div-img" src="" alt="" /></div>
  </div>
  <label class="complete__form__label required" for="email">Email</label>
  <input class="complete__form__input js-form-input-email" type="email" name="email" placeholder="Ej: la_rogelia@gmail.com" required />
  <label class="complete__form__label required" for="telephone">Teléfono</label>
  <input class="complete__form__input js-form-input-tel" type="tel" name="phone" placeholder="Ej: 926 61 30 84" required />
  <label class="complete__form__label" for="linkedin">Linkedin</label>
  <input class="complete__form__input js-form-input-linkedin" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/rogelia-doña" />
  <label class="complete__form__label" for="github">Github</label>
  <input class="complete__form__input js-form-input-github" type="text" name="github" placeholder="Ej: @doña-roG" />
</form>
