<!-- Share section hidden -->
<section class="share share__collapsed">
  <partial
    src="_title-collapse.html"
    img="./assets/images/share-alt-solid.svg"
    name="comparte"
  ></partial>

  <div class="share__button share__button hidden js-share__button">
    <button class="share__button__enabled js-button">
      <i class="far fa-address-card"></i>
      <h2 class="share__button__title">Crear tarjeta</h2>
    </button>

    <div class="share__card js-share__card hidden">
      <span class="share__card__text">La tarjeta ha sido creada:</span>
      <a href="" class="share__card__link js-share-link"></a>
      <!-- Reemplazar la URL a compartir por la http de google -->
      <a href="" target="_blank" class="share__card__twitter js-share-button">
        <i class="fab fa-twitter"></i>Compartir en twitter
      </a>
    </div>
  </div>
</section>

<!-- Share section once the card is created-ready to share -->

<!-- <partial
  src="_title-collapse.html"
  img="./assets/images/share-alt-solid.svg"
  name="Comparte"
></partial>
<div class="share__button">
  <button class="share__button__unabled">
    <i class="far fa-address-card"></i>
    <h2 class="share__button__title">Crear tarjeta</h2>
  </button>
</div>
<div class="share__card">
  <span class="share__card__text">La tarjeta ha sido creada:</span>
  <a href="#" class="share__card__link"
    >https://awesome-profile-card.com?id=A456DF0001</a
  >
  <a href="#" target="_blank" class="share__card__twitter">
    <i class="fab fa-twitter"></i>Compartir en twitter
  </a>
</div> -->
