<section class="principal container-box__one">
  <div class="principal__container__button">
    <button class="principal__button js-btn-reset" type="reset">
      <i class="fas fa-trash-alt"></i>
      Reset
    </button>
  </div>
  <section class="card js-card">
    <header class="card__title js-card-title">
      <div class="card__title__box js-card-title-box">
        <h2 class="card__title__first js-card-title-first">Nombre apellido</h2>
        <h3 class="card__title__second js-card-title-second">Front-end developer</h3>
      </div>
    </header>
    <img class="js-card-img card__img" src="./assets/images/image-rogelia.jpg" alt="card-image" title="card-image" />
    <nav class="card__menu js-card-menu">
      <ul class="card__menu__links js-card-menu-links">
        <li class="card__menu__links__icon js-card-menu-links-icon">
          <a class="card__menu__item js-a-mobile" href="#"><i class="fas fa-mobile-alt"></i></a>
        </li>
        <li class="card__menu__links__icon js-card-menu-links-icon">
          <a class="card__menu__item js-a-mail" href="#"><i class="far fa-envelope"></i></a>
        </li>
        <li class="card__menu__links__icon js-card-menu-links-icon">
          <a class="card__menu__item js-a-linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="card__menu__links__icon js-card-menu-links-icon">
          <a class="card__menu__item js-a-github" href="#" target="_blank"><i class="fab fa-github-alt"></i></a>
        </li>
      </ul>
    </nav>
  </section>
</section>
