<partial src="_title-collapse.html" img="./assets/images/object-ungroup-regular.svg" name="Diseña"></partial>

<div class="design">
  <p class="design__content">Colores</p>
  <form action="" class="design__form">
    <div class="design__radio">
      <input type="radio" id="green" name="color" value="green" class="js-input-color"/>
      <label for="green" class="design__paleta">
        <div class="design__paleta__1"></div>
        <div class="design__paleta__2"></div>
        <div class="design__paleta__3"></div>
      </label>
    </div>
      <div class="design__radio">
        <input type="radio" id="red" name="color" value="red" class="js-input-color" />
        <label for="red" class="design__paleta">
          <div class="design__paleta__4"></div>
          <div class="design__paleta__5"></div>
          <div class="design__paleta__6"></div>
        </label>
      </div>
        <div class="design__radio">
          <input type="radio" id="other" name="color" value="other" class="js-input-color" />
          <label for="" class="design__paleta">
            <div class="design__paleta__7"></div>
            <div class="design__paleta__8"></div>
            <div class="design__paleta__9"></div>
          </label>
        </div>

  </div>
  </form>
  