.principal {
  background: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.37rem;
  padding-bottom: 2.5rem;

  &__container__button {
    width: 15rem;
    padding-bottom: 1.25rem;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Open Sans';
    line-height: 1.25rem;
    font-size: 0.75rem;
    color: $color-metal;
    width: 4.68rem;
    height: 1.87rem;
    border-radius: 0.93rem;
    border: solid 1px $color-white;
    background-color: #bfcdd0;
  }

  &__icon {
    font-size: 0.75rem;
  }
}

.card {
  // height: 20.56rem;
  width: 15rem;
  background-color: $color-white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &__img {
    width: 240px;
    height: 200px;
  }

  &__title {
    font-family: 'Montserrat';
    padding: 1.31rem 0 0.625rem 0;

    &__box {
      border-left: 4px solid #438792;
      padding-left: 1.25rem;
    }

    &__first {
      font-size: 1.12rem;
      line-height: 1.2rem;
      color: $color-dark-green;
      font-weight: bold;
      padding-bottom: 4px;
      text-transform: capitalize;
    }

    &__second {
      font-size: 1rem;
      line-height: 1.25rem;
      color: $color-metal;
    }
  }

  &__menu {

    &__item {
      color: $color-dark-green;
      text-decoration: none;
    }

    &__links {
      font-size: 1.12rem;
      text-align: center;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin-left: 0.87rem;
      padding: 0.4375rem 0 0 0;
      text-decoration: none;
      margin-bottom: 10px;

      &__icon {
        border-radius: 1rem;
        border: solid 2px #a2deaf;
        width: 2rem;
        height: 2rem;
        padding-top: 0.31rem;
        margin: 0px 0.62rem 0 0;
      }
    }
  }
}
