<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <partial src="_header.html"></partial>
    <main class="container-box">
      <partial src="_card.html"></partial>
      <ul class="container-box__two">
        <li class="collapse">
          <partial src="_designe-section.html"></partial>
        </li>
        <li class="collapse">
          <partial src="_complete-section.html"></partial>
        </li>
        <li class="collapse"><partial src="_share-section.html"></partial></li>
      </ul>
    </main>

    <partial src="_footer.html"></partial>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
