@media all and (min-width: 768px) {
  .container-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0;
    padding-top: 1.25rem;
    &__one {
      width: 43%;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.43rem 1.25rem 1.31rem 0;
    }
    &__two {
      width: 52%;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
}
