@media all and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    height: 2.62rem;
    &__text {
      align-self: center;
      padding: 0;
    }
  }
}
